{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
        <h1 class="card-title">{{ object.name }}</h1>
        <div class="mb-3">
            <span class="badge bg-secondary">
                {{ object.get_type_display }}
            </span>
            <span class="badge bg-info">
                {{ object.get_rarity_display }}
            </span>
        </div>
        <h5>Description</h5>
        <p>{{ object.description }}</p>
        <hr>
        <dl class="row">
            {% if object.damage %}
                <dt class="col-sm-3">Damage</dt>
                <dd class="col-sm-9">{{ object.damage }}</dd>
            {% endif %}
            {% if object.protection %}
                <dt class="col-sm-3">Protection</dt>
                <dd class="col-sm-9">{{ object.protection }}</dd>
            {% endif %}
            {% if object.effect %}
                <dt class="col-sm-3">Effect</dt>
                <dd class="col-sm-9">{{ object.effect }}</dd>
            {% endif %}
            <dt class="col-sm-3">Weight</dt>
            <dd class="col-sm-9">{{ object.weight }}</dd>

            <dt class="col-sm-3">Price</dt>
            <dd class="col-sm-9">{{ object.price }}</dd>
        </dl>
        <a href="{% url 'compendium:items:item-list' %}"
           class="btn btn-secondary">
            Back to items
        </a>
    </div>
</div>
</div>
{% endblock %}
